.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(46, 25, 81);
}

html, body {
  height: 100%;
  margin: 0;
}

.container{
  display: flex;
  background-color: #a0a0a0;
  height: 100vh;
}

.main{
  flex: 3;
  padding: 20xp;
  height: 100%;
}

.sidebar{
  border-left: 1px solid #1b2157;
  background: #1b2157;
  padding: 20px;
  float: right;
  width: 20%;
  height: 100vh;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.tabs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button{
  margin-bottom: 10px;
  width: 300%;
  border: none;
  background-color: #1b2157;
  color: #ffffff;
  cursor: pointer;
}

.tab-content{
  margin-top: 20px;
  color: #ffffff;
  text-align: left;
  flex: 1;
}